<html>
    <head>
        <title>Search Result</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle_calorie.css') }}">   
    </head> 
    <!-- source: https://www.geeksforgeeks.org/how-to-create-a-pie-chart-using-html-css/ -->
    <style>
        .piechart{
            background-image: conic-gradient(  
                pink {{360*(count/600)}}deg,    
                orange 0); 
        } 
    </style>
    <body> 
        <div>
            <a href="/" class="back">&laquo; Back</a>
        </div> 
        <h2>Search Result</h2>
        <p>{{food}} has calorie count of <b>{{count}}</b>.</p>
        <p>As percentage of recommended adult meal calories(600cal): <b> {{ num_present }}%</b>.</p> 
        <div class="piechart" alt="pie chart" ></div>
        <div class="key">
            <p class="key-title">Keys:</p>
            <div class="pink"></div>
            <p>Calorie of your food</p>
            <div class="orange"></div>
            <p>Recommended Calorie Left</p>
        </div>
    </body> 

</html>
