<html>
    <head>
        <title>Contact Us</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
    </head>
    <body> 
        <h1>Contact Info</h1>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/menu">Menu</a></li>
            </ul>
        </nav>
        <div class="explanatory_text">
            <p>Chick-fil-A Nutrition Guide is created by Team G of the Fall 2023 CS257: Software Design at Carleton College.</p>
            <p>Group members are:</p>
            <p>Hank Zhao, Class of 2024</p> 
            <p>Austin Zhang, Class of 2026</p>
            <p>Charlie Ding, Class of 2026</p>
            <p>Lee Li, Class of 2026</p>
            <p>Here is our <a href="https://github.com/CS257-F23/team-project-g">source code</a>.</p>
        </div>
    </body>
</html>