<html>
    <head>
        <title>Page Not Found</title>
    </head>
    <body>
        <h1 style="color:rgb(58, 156, 254);">Oops, the page you were looking for doesn't exist, please refer to homepage or go to one of the pages below:</h1>
        <h2>To get calories by food name: access http://XXX.X.X.X:YYYY/calorie/food</h2>
        <h2>To get restrictions by food name: access http://XXX.X.X.X:YYYY/diet/food1,food2,... (at least one food, seperate multiple foods by ',')</h2>
        <h3>Replace 'food' with the food of your choice, 'XXX.X.X.X' with your IP address, and 'YYYY' with your port number</h3>
        <h3>Usage example: http://127.0.0.1:5000/calorie/Garden Herb Ranch Sauce</h3>
        <h3>Usage example: http://127.0.0.1:5000/diet/Garden Herb Ranch Sauce,Tomato</h3>
    </body>
</html>