<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
    </head>
    <body> 
        <h1>About</h1>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/menu">Menu</a></li>
            </ul>
        </nav>
        <div class="explanatory_text">
            <p>Welcome to the Chick-fil-A Nutrition Guide, your go-to resource for detailed nutritional information 
                about your favorite Chick-fil-A meals! Whether you are tracking your calorie intake, managing dietary restrictions, 
                or just curious about what goes into your food, our app is here to help.</p>
            <p>Target Audience: Our app is designed for everyone interested in Chick-fil-A: from health-conscious diners and fitness enthusiasts to individuals 
                with specific dietary needs and fans of Chick-fil-A looking for more information about their meals.</p>   
            <p>Our app offers two essential features for health-conscious eaters. Firstly, the Calorie Search feature allows you to quickly find out the calorie count for any Chick-fil-A item. 
                Simply type in the name of the item to receive instant calorie information. Secondly, we provide detailed Allergen Information. 
                This feature lists allergens for various menu items based on your input, helping individuals with allergies make safe and informed dining choices.
            </p>
        </div>
    </body>
</html>

