a.back {
    text-decoration: none;
    padding: 8px 16px;
    background-color: white;
    color: rgb(253, 136, 136);
    border-radius: 10px; /* source : https://www.w3schools.com/cssref/css3_pr_border-radius.php*/ 
    border: none; 
}
  
a:hover {
    background-color: rgb(208, 208, 208);
}
  
h1 {
    color: whitesmoke;
    margin-top: 20%;
    text-align: center;
}

body{
    text-align: center;
}

html{
    background-color: rgb(253, 136, 136);
}