:root {
    --search_height : 10%;
  }

h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(248, 71, 71);
    color: white;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    height: auto;
}

div {
    width : 99% ;
    margin-left: 15%;
    margin-top: 5%;    
}

select{
    width: 14%;
    height: var(--search_height);
    color : rgb(103, 103, 103);
    background-color: rgb(220, 219, 219);
    border-radius: 10px; /* source : https://www.w3schools.com/cssref/css3_pr_border-radius.php*/ 
    font-size: 90%; 
}

#text_box{
    height : var(--search_height);
    width : 40%;
    font-size: 80%;
}

#search_button {
    width: 12%;
    height: var(--search_height);
    background-color: rgb(253, 136, 136);
    color: white;
    border-radius: 10px; /* source : https://www.w3schools.com/cssref/css3_pr_border-radius.php*/ 
    border: none; 
}
#search_button:hover{
    background-color: rgb(253, 172, 172);
    text-decoration: underline;
}

